*.bat
*.sh
/*/
CHANGELOG
LICENSE.txt
Thumbs.db

!/src/
/src/minecraft/*

!/src/minecraft/mffs/
!/src/minecraft/dan200/
!/src/minecraft/buildcraft/
!/src/minecraft/icbm/
!/src/minecraft/com/
!/src/minecraft/org/
!/src/minecraft/ic2/
!/src/minecraft/buildcraft/
!/src/minecraft/railcraft/
!/src/minecraft/thermalexpansion/
!/src/minecraft/universalelectricity/
!/resources/
!info.txt
!mcmod.info
!publish_local.bat
!publish.bat
!include.bat
!/README